<div class="mt-1">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col" class="text-center">Nombre</th>
                        <th scope="col" class="text-center">Categoria</th>
                        <th scope="col" class="text-center">Monto</th>
                        <th scope="col" class="text-center">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr id={{gasto.id}} *ngFor="let gasto of presupuesto?.gastodetalle">
                            <td class="align-middle text-center">{{gasto.nombre}}</td>
                            <td class="align-middle text-center">{{gasto.categoria}}</td>
                            <td class="align-middle text-center">{{presupuesto!.divisa}} {{gasto.monto}}</td>
                            <td class="align-middle text-center">
                                <button
                                    matInput
                                    mat-flat-button
                                    [ngStyle]="{
                                    'padding': '28px',
                                    'width': '25%'
                                    }"
                                    color="accent"
                                    type="submit"
                                >
                                Editar
                                </button> | 
                                <button
                                        matInput
                                        mat-flat-button
                                        [ngStyle]="{
                                        'padding': '28px',
                                        'width': '25%'
                                        }"
                                        color="warn"
                                        type="submit"
                                    >
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
      <button class="btn btn-sm btn-outline-primary" (click)="open(demoModal)">Launch demo modal</button>
    </div>
</div> 
<ng-template #demoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" name="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dp="ngbDatepicker">
            <button type="button" class="btn btn-outline-secondary bi bi-calendar" (click)="dp.toggle()"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>