<div class="mt-4 mb-5">
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-header">
                <h1 mat-h1 class="text-center">Integrantes</h1>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Clarissa</li>
                    <li class="list-group-item">Carlos Quintero</li>
                    <li class="list-group-item">Emilio</li>
                    <li class="list-group-item">Alonso</li>
                </ul>
            </div>
        </div>
    </div>
</div>