<div class="mt-1">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body">
                <h2 mat-h1 class="text-center">Nuevo registro</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <mat-label>Nombre:</mat-label>
                            <mat-form-field class="wide-input">
                                <input
                                    type="text"
                                    matInput                      
                                    placeholder="Ingrese el nombre..."
                                    required
                                />
                            </mat-form-field>
                            <!-- <div *ngIf="nombreIncorrecto" class="text-center mb-3">
                                <h3> <span class="badge bg-danger textError">El nombre del proyecto es requerido</span></h3>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <mat-label>Categoria:</mat-label>
                            <mat-form-field class="wide-input">
                                <select matNativeControl  placeholder="Seleccione una divisa" required>
                                    <option *ngFor="let categoria of categorias" value={{categoria.nombre}}>{{categoria.nombre}}</option>
                                </select>
                            </mat-form-field>
                            <!-- <div *ngIf="nombreIncorrecto" class="text-center mb-3">
                                <h3> <span class="badge bg-danger textError">El nombre del proyecto es requerido</span></h3>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <mat-label>Monto:</mat-label>
                            <mat-form-field class="wide-input">
                                <input
                                    type="number"
                                    matInput                      
                                    placeholder="Ingrese el monto..."
                                    required
                                />
                            </mat-form-field>
                            <!-- <div *ngIf="nombreIncorrecto" class="text-center mb-3">
                                <h3> <span class="badge bg-danger textError">El nombre del proyecto es requerido</span></h3>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button
                            matInput
                            mat-flat-button
                            [ngStyle]="{
                            'margin-top': '5px',
                            'padding': '28px',
                            'width': '30%'
                            }"
                            color="accent"
                            type="submit"
                        >
                        Ingresar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>